<html>

<head>
    <title>título</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <p class="text-center h4 pt-3 pb-3">Servidor push</p>
        <div class="card" style="width: 40rem; margin-left: auto; margin-right: auto; ">
            <div class="card-header text-center h5">
                Enviar mensajes
            </div>
            <div class="card-body" style="margin-left:auto; margin-right:auto;">
                <h6 class="card-title" style="text-decoration:underline;">Detalle</h6>
                <form id="miForm">
                    <input type="text" placeholder="Escribir mensage" id="message" autofocus>
                    <button class="btn btn-primary">Enviar</button>
                </form>
                <p class="card-text" id="totalPush"></p>
                <ul class="list-group list-group-flush" id="listaPush" style="height: 90px; overflow: auto;">
                </ul>
            </div>
            <div class="card-footer text-muted text-center font-italic">
                &copy;Desarrollos ..., todos los derechos reservandos.
            </div>
        </div>
        {{!-- <table class="table table-striped">
            {{#each datos}}
            <tr>
                <td>{{this.id}}</td>
            </tr>
            {{/each}}
        </table> --}}
    </div>
</body>
    <script src="./main.js"></script>
</html>